<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mspss?characterEncoding=UTF-8</property>



    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">980626han</property>
    <!-- dialect:方言，封装的底层API，类似于Runtime，将数据库转换为配置中的相应的语言 -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!-- 设置数据显示对数据库的操作 -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.use_sql_comments">false</property>


    <!--<property name="hibernate.format_sql">true</property>  -->
      <mapping resource="AccountPO.hbm.xml"/>
      <mapping resource="GeneralAccountPO.hbm.xml"/>
      <mapping resource="GeneralAccount_AccountList_PO.hbm.xml"/>
      <mapping resource="GeneralAccount_CustomerList_PO.hbm.xml"/>
      <mapping resource="GeneralAccount_CommodityList_PO.hbm.xml"/>
      <mapping resource="CashCostBillPO.hbm.xml"/>
      <mapping resource="CashCostItemPO.hbm.xml"/>
      <mapping resource="ClassificationPO.hbm.xml"/>

      <mapping resource="CommodityPO.hbm.xml"></mapping>
      <mapping resource="CustomerPO.hbm.xml"></mapping>
      <mapping resource="FinanceBillPO.hbm.xml"></mapping>
      <mapping resource="FinanceItemPO.hbm.xml"></mapping>
      <mapping resource="LogPO.hbm.xml"></mapping>
      <mapping resource="PurchaseBillPO.hbm.xml"></mapping>
      <mapping resource="PurchaseBill_Commodity_PO.hbm.xml"></mapping>
      <mapping resource="SalesInBillPO.hbm.xml"></mapping>
      <mapping resource="SalesItemPO.hbm.xml"></mapping>
      <mapping resource="SalesOutBillPO.hbm.xml"></mapping>
      <mapping resource="UserPO.hbm.xml"></mapping>
      <mapping resource="CustomerPromotionPO.hbm.xml"></mapping>
      <mapping resource="AlarmBillPO.hbm.xml"></mapping>
      <mapping resource="StockBillPO.hbm.xml"></mapping>
      <mapping resource="StockBillItemPO.hbm.xml"></mapping>
      <mapping resource="StockPO.hbm.xml"></mapping>
      <mapping resource="CommodityStockPO.hbm.xml"></mapping>
      <mapping resource="GroupPromotionPO.hbm.xml"></mapping>
      <mapping resource="PresentationCommodityItemPO.hbm.xml"></mapping>
      <mapping resource="GrossPromotionPO.hbm.xml"></mapping>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>