
.button:hover {
    -fx-background-color: #0d5ae1;
}
.button {
    -fx-background-color: #0F88eb;
}

#modPasswordButton.button{
    -fx-background-color: #000723;
}

#modPasswordButton.button:hover{
    -fx-underline: true;
}